<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding #slidingItem *ngFor="let pizza of pizzas">
      <ion-item >
        <ion-icon name="pizza" slot="start"></ion-icon>
        {{pizza.nombre}}
        <div class="item-note" slot="end">
          {{pizza.precio}}€
        </div>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="eliminarPizza(pizza.id)">
          <ion-icon name="pizza"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item >
      
    </ion-item>
  </ion-list>
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->
</ion-content>
