<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Las mejores pizzas de la ciudad</ion-card-subtitle>
        <ion-card-title>Pizzeria Frias</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-img src="/assets/pizza_imagen.jpeg"></ion-img>
  </ion-content>
